.menu {
    background: #e06c00;
    height: 4rem;
    width: auto;
    max-width: 30rem;
    display: flex;
    margin: auto;
    align-items: center;
    color: white;
    justify-content: space-around;
    padding: 0 2rem;
    border-radius: 0 0 2rem 2rem;

    .room-code-wrapper {
        display: flex;
        align-items: center;
        padding: .25rem;
        margin-left: 1rem;
        border-radius: .5rem;
        width: 100%;
        justify-content: space-around;
    }

    .material-icons.style {
        border-radius: .5rem;
        transition: .5s ease;

        box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
        cursor: pointer;

        &:hover {
            background: orange;
            box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
        }
    }
}